<div class="container main">

		<div id="slogan" class="clearfix">
			<div class="sixteen columns">
				<div class="slogan">
					<p>If you have <span class="color">any questions</span> <span class="light_gray">don't <br />hesitate</span> to use the form below!</p>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container">
			<div class="sixteen columns">
			  <div id="googlemaps" class="google-map google-map-full" style="height:300px"></div>
         <h3 class="gmap-header">Leave us a message</h3>
      </div><!--/sixteen -->
    </div>

    <div class="container">
      <div class="eight columns">

				  <div id="contactForm">
					 <%= form_for @contact, :class => 'form' do |f| %>
  
             <div class="control-group">
               <%= f.label :name,  :class => 'control-label' %>
              <div class="controls">
               <%= f.text_field :name, :id => 'inputName', :class => 'name', :placeholder => 'Enter Name Here...' %>
              <span class="help-inline">Please fill your name</span>
             </div>
           </div>

            <div class="control-group">
              <%= f.label :email, :class => 'control-label' %>
             <div class="controls">
              <%= f.text_field :email, :id => 'inputEmail', :class => 'email', :placeholder => 'Enter Your E-mail Address...' %>
               <span class="help-inline" style="display: none;">Please check your email</span>
             </div>
            </div>

            <div class="control-group">
              <%= f.label :phone, 'Phone Number', :class => 'control-label' %>
             <div class="controls">
              <%= f.text_field :phone, :id => 'inputTel', :class => 'phone', :placeholder => 'Enter Phone Number here' %>
              <span class="help-inline" style="display: none;">Please Check Your Phone Number</span>
             </div>
            </div>

            <div class="control-group">
              <%= f.label :zip, 'Zip Number', :class => 'control-label' %>
             <div class="controls">
              <%= f.text_field :zip, :id => 'inputZip', :class => 'zip', :placeholder => 'Enter Zip Number here' %>
              <span class="help-inline" style="display: none;">Please Check Your Zip Number</span>
             </div>
            </div>

            

          </div><!--/eight columns-->
        </div>

           <div class="eight columns">

            <div class="control-group">   
              <%= f.label :message, :class => 'control-label' %>
               <div class="controls">
                <%= f.text_area :request, :id => 'textarea', :class => 'message', :rows => 10 %>
                 <span class="help-inline" style="display: none;">Please Enter a Message</span>
               </div>
            </div>

             <div class="actions">
              <%= f.submit "Send Message" %>
             </div>
  
         <% end %>
           </div>
         	</div><!--/contact form -->
				</div><!--eight columns-->

			</div><!--/container -->
			


		


<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA&sensor=false">
    </script>

 <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(38.327347,-77.584454),
          zoom: 10,
          scrollwheel: false,
          draggable: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googlemaps"),
            mapOptions);

        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
          title: 'Newbridges Care'
        });

        var center;
        function calculateCenter() {
         center = map.getCenter();
        }
         google.maps.event.addDomListener(map, 'idle', function() {
         calculateCenter();
        });
         google.maps.event.addDomListener(window, 'resize', function() {
         map.setCenter(center);
        });
       }
         </script>

